// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
  * {
      font-family: 'Abel', sans-serif !important;
  }